setuptools
wheel
streamlit
pandas
numpy
torch
torchvision
torchaudio
transformers
scikit-learn
spacy==3.5.0
en-core-web-sm==3.5.0
thinc==8.1.5
textblob
langdetect
emoji
tqdm
plotly
altair
gdown
translate 
googletrans

